/* signUp.css */

/* Container styles */
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 2px solid red;
  }
  
  /* Heading styles */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form styles */
  form {
    display: flex;
    margin-left: 35%;
    flex-direction: column;
    max-width: 400px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.137);
    padding: 2rem;
    border: 2px solid red;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button {
    padding: 10px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  